<div class="card">
  <div class="card-body">
    <h5 class="card-title">Products</h5>
    <button class="btn btn-primary add-button" routerLink="detail">Add Product</button>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Sr. No.</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of products;index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{x.name}}</td>
          <td>{{x.price}}</td>
          <td>{{x.sellStatus}}</td>
          <td>
            <button class="btn btn-info" [routerLink]="['detail',x.id]">Edit</button>
            <button class="btn btn-danger ml-2" (click)="deleteProduct(x.id)">Delete</button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>