<nav class="navbar navbar-dark bg-dark" *ngIf="isAuthenticated">
    <!-- Navbar content -->
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="product" routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="user" routerLinkActive="active">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin">Logout</a>
        </li>
        
      </ul>
</nav>
<router-outlet></router-outlet>