<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center ">
    <div class="position-absolute brand-img-left"></div>
    <div class="position-absolute brand-img-right"></div>

    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Fashion Hub</h1>
        <p class="lead font-weight-normal">Most Stylish Fashionable Collection</p>
        
    </div>

</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="/assets/1022.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Denim Skirt</h5>
                  
                  <h5 class="text-title d-flex"> 
                    <a class="btn btn-outline-secondary" routerLink="cart"> Add Cart </a>
                    <span class="d-flex ml-auto"> ₹1500 </span>
                  </h5>
                  
                </div>
              </div>
        </div>
    </div>
</div>
